<tr>
  <td><%= image_tag gallery.image.url(:thumb) %></td>
  <td><%= gallery.title %></td>
  <td><% if gallery.app_flag %>表示<% else %>非表示<% end %></td>
  <td>
    <%= link_to "編集", edit_user_category_gallery_path(id: gallery), {:class => "btn btn-success"} %>
    <%= link_to '削除', user_category_gallery_path(id: gallery), method: :delete, :class => "btn btn-danger", data: {confirm: "削除しますか？"} %>
  </td>
</tr>