<% provide(:title, "ギャラリー") %>
<% provide(:back_link, user_categories_path(params[:user_id])) %>

<h2>カテゴリ</h2>
<table class="table table-striped">
  <tr>
    <th>image</th>
    <th>title</th>
    <th>comment</th>
    <th>app</th>
    <th></th>
  </tr>

  <%= render @galleries, user: @user %>

</table>
<hr>
<%= link_to "追加", new_user_category_gallery_path, class: "btn btn-default btn-block" %>