#admin-wrap
  background-color: #ddd

.alert
  margin: 64px 16px -56px 16px

.admin-panel
  margin: 72px 16px 16px 16px

  .gallery-image
    position: relative
    width: 100%
    background:
      image: image-url('sample_icon.png')
      position: center center
      size: cover

    &:before
      content: ""
      display: block
      padding-top: 75%