@import 'bootstrap'
@import 'bourbon'
@import 'font-awesome'
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700)

body
  font-family: "Noto Sans", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif
  background-color: #212121

.no-border
  margin: 0
  padding-bottom: 80px
  border: none

.main-wrap
  background-color: #fff
  h2
    font-size: 4rem
    &:before
      content: "\f101"
      padding-right: 1rem
      font-family: FontAwesome

